#side-button {
    text-align: center;
    min-width: 3vw;
    background-color: #000000;
    color: #FFFFFF;
    transition: color 2s;
    transition: background-color min-width;
    transition: 1s;
}

#side-button:hover {
    min-width: 8vw;
    background-color: #00000069;
    color: #000000;
    transition: color min-width background-color;
    transition: 1s;
}


/* ---------------------------------------------------------------- */

#article-content {
    min-width: 80vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.article-card {
    min-width: 20vw;
    max-height: 50vw;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.article-card:hover {
    cursor: pointer;
    background: #ECE9E6;
    background: linear-gradient(to right, #ECE9E6, #FFFFFF);
}

.article-card img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.article-card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.article-card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.article-link {
    color: #ffffff60;
}

.article-link:hover {
    color: #ffffff;
    cursor: pointer;
}

.article-link.active {
    color: #ffffff;
}

@media screen and (max-width: 980px) {
    #side-button {
        display: none;
    }
    .article-card {
        min-width: 80vw;
        min-height: 100vw;
    }
    .tag {
        font-size: 2rem;
    }
    .article-card__body h4 {
        font-size: 2.3rem;
        margin: 0;
    }
}