/* main */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fe6e00
}

.main-content-header {
    font-size: calc(20px + 0.2vw);
    display: flex;
    flex-direction: column;
    color: #fe6e00;
    text-align: left;
    margin-right: 3rem;
}

.main-content-header-head {
    color: #24282b;
    display: flex;
    flex-direction: row;
    text-align: left;
}

img.mobile-avatar {
    visibility: hidden;
    display: none;
    overflow: hidden;
}

.main-content-footer {
    display: flex;
    flex-direction: row;
    color: #fe6e00;
    text-align: left;
    justify-content: left;
    justify-items: center;
}

.main-content-footer-greeting {
    flex: 4;
    color: #24282b;
    max-width: 80%;
}

.main-content-footer-icon-container {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #24282b;
}

.main-content-footer-icon-container-icon {
    display: flex;
    justify-content: center;
}

#writename-thai {
    color: #24282b;
    min-width: 100px;
}

a.icon-link {
    color: #24282b;
}

.button-to-top {
    display: flex;
    justify-content: center;
}

a.main-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    text-align: center;
    color: initial;
    background-color: none;
    opacity: 0.76;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-size: calc(20px + 0.2vw);
    /* invicible on normal circumstance */
    visibility: hidden;
}


/* responsive */

@media screen and (max-width: 980px) {
    .main-content-footer {
        flex-direction: column;
        align-items: center;
    }
    .main-content-footer-icon-container {
        justify-self: flex-end;
    }
    .main-content-header {
        text-align: center;
        font-size: calc(20px + 1.5vw);
        align-items: center;
        margin-right: 0;
    }
    .main-content-header-head {
        justify-content: center;
    }
    img.mobile-avatar {
        display: block;
        visibility: visible;
        margin-bottom: 1.75vh;
    }
    a.main-button {
        font-size: calc(10vw + 20px);
        visibility: visible;
    }
    hr {
        margin-left: auto;
    }
    a.icon-link {
        font-size: calc(10vw + 20px);
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .main-content-footer-greeting {
        padding-bottom: 1.5vw;
    }
}


/* end of main */