* {
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

.layout {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 190px;
}

.navbar {
    color: white;
    text-align: center;
    border-right: 1px solid #ededed;
    flex: 1 0 5%;
    padding: 1rem;
}

.nav-menu {
    color: white;
}

.nav-link:link {
    color: #ffffff60
}

.nav-link:hover {
    color: white;
}

.nav-link:visited {
    color: #ffffff60
}

.nav-link:active {
    color: white;
}

.content-wrapper {
    flex: 10;
    display: block;
    overflow-y: auto;
    margin-left: 3vw;
    justify-content: space-between;
}

.content-box {
    flex: 1;
    flex-grow: 0;
    min-width: 100%;
    min-height: 100vh;
    margin-bottom: 0;
}

#grad-main {
    background-image: linear-gradient(#fe6e00, rgb(243, 213, 147));
}

.no-border {
    border: none;
    border-radius: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0;
}

.avatar-img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}

body {
    overflow: hidden;
    height: 100vh;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 90%;
    background-color: grey;
    height: 1px;
    margin-left: 0;
}

a.nav-link:link {
    background-color: none;
    text-decoration: none;
}

a.nav-link:hover {
    color: white;
    background-color: none;
}

a.nav-link:active {
    color: white;
    background-color: none;
}

.active:link {
    color: white;
    background-color: none;
}


/* theme color */

.theme-main {
    color: #fe6e00;
}

.theme-sub {
    color: #24282b;
}


/* responsive */


/* hide nav bar */

@media screen and (max-width: 980px) {
    .navbar {
        display: none;
    }
    .content-wrapper {
        flex-direction: column;
        margin-right: 3vw;
    }
    .content-box {
        min-width: 100%;
        min-height: 100vh;
        margin-bottom: (20px + 25vw);
    }
}